ul {
  padding: 0;
}

.scl-shr-drpdwn {
  position: absolute;
  z-index: 100;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  border-radius: 4px;
}
.scl-shr-drpdwn--itm {
  padding: 10px;
}
.scl-shr-drpdwn--itm.np {
  padding-bottom: 0px;
}
.scl-shr-drpdwn__icn {
  font-size: 20px;
}
.scl-shr-drpdwn__icn.fb {
  color: #3B5998;
}
.scl-shr-drpdwn__icn.twttr {
  color: #00ACED;
}
.scl-shr-drpdwn__icn.gplus {
  color: #DB4437;
}
.scl-shr-drpdwn__txt {
  position: relative;
  top: -3px;
  color: #777777;
}
.scl-shr-drpdwn__txt:hover {
  color: #333333;
}
