.scl-shr {
  &-drpdwn {
    position: absolute;
    z-index: 100;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    background: $white;
    border-radius: $border-radius-base;

    &--itm {
      padding: 10px;

      &.np {
        padding-bottom: 0px;
      }
    }

    &__icn {
      font-size: $sz-text-xl-size;

      &.fb {
        color: $fb-color;
      }

      &.twttr {
        color: $twttr-color;
      }

      &.gplus {
        color: $google-color;
      }
    }

    &__txt {
      position: relative;
      top: -3px;

      color: $monsoon;

      &:hover {
        color: $oil;
      }
    }
  }
}